.calculator {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #999;
  border-radius: 8px;
  padding: 20px;
  background: #f9f9f9;
}

.display {
  color:#999;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
}
